<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_category</title>
</head>
<body>
    <form action="/add_category" method="POST">
            <div class="input-text">
              <label for="name">Title</label>
              <div class="full-text">
                <input class="title" type="text" id="title" name="title" placeholder="Category name" required>
              </div>
            <input class="submit-button" type="submit" value="Create">
          </form>
</body>
</html>