<ul>
      <li><img src="images/twitter.png" alt=""></li>
      <li><img src="images/facebook.png" alt=""></li>
      <li><img src="images/instagram.png" alt=""></li>
      <li><img src="images/github.png" alt=""></li>
      <li><img src="images/linkedin.png" alt=""></li>
    </ul>
    <div class="footer-line">.</div>
    <p>COPYRIGHT © 2021</p>